/*
 * ----------------------------------------------------------------------------------------
 * Footer styles.
 * ----------------------------------------------------------------------------------------
 */

 .site-footer {
 	background: #e1ebef;
 	padding: 20px; 
 	border-top: 1px solid #c2d3ff;
 	p {margin-bottom: 0; color: #8f9598; font-size: 14px; }

 }

.site-footer.signup {
 	background: #fff; 
 }