/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */


.logign-form-wraper {
	max-width: 466px;
	margin: 5% auto;
	    padding: 20px;
	overflow-x: hidden;
	form {
		background: #f8fafb;
		border: 1px solid #d7e1e6;
		border-radius: 30px;
		padding:52px 36px 42px 36px;
			@include breakpoint ( max-width 500px ) {
					padding:52px 20px;
			}
		p {margin-bottom: 4px; }
		h3 { margin-top: 0; margin-bottom: 24px;  }
		label {margin-bottom: 10px;   }
		input {margin-bottom: 26px; }
		.btn {margin-top: 30px; margin-bottom: 30px; }
		a.blue-underline {display: block; margin-bottom: 10px; }

		

	}
}

.error {border-color: #ed8283; color: #ed8283; }
.error-notify {
	//display: none;
	margin-bottom: 30px; 
	border-top: 1px solid #ed8283; 
	border-bottom: 1px solid #ed8283;
	background: #faf5f6;
	margin-left: -36px;
	margin-right: -36px;
		@include breakpoint ( max-width 500px ) {
					margin-left: -20px;
					margin-right: -20px;
		}
	padding: 8px;
	text-align: center;
	p {margin: 0; font-size: 14px; color: #e10000; }
}
.success-notify {
	//display: none;
	width: 95%;
	 margin-left: auto;
	 margin-right: auto;
	margin-bottom: 20px; 
	border: 1px solid #5DDE69;
	border-radius: 34px;
	background: #BEFFC4;
	font-weight: bold;
	color: #146A1C; 
	i  {
		color: #00C70E; 
		font-size: 51px;
    	margin-right: 8px;
    	float: left;
    		@include breakpoint ($xs) {
    			float: none;
    			margin-bottom: 10px;
    		}
    	margin-top: -8px;
	}
	
		
	padding: 32px 24px;
		@include breakpoint ($xs) {
			padding: 20px 20px;	
		}
	text-align: center;
	h4 {margin: 0; font-size: 16px; color: #146A1C;     max-width: 81%; display: inline-block;}

	.notify-check {
		display: inline-block;
		background: url('../img/check-green.png') no-repeat; 
		width: 56px;
		height: 56px;

	}
}
.signup-form-wraper {
	margin: 5% auto;
	
	header {
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			margin-bottom: 50px;	
			h1 {font-size: 30px; font-weight: bold; }
			p {    max-width: 670px;
			    margin-left: auto;
			    margin-right: auto;
			}
	}
	.wide-padding {
		padding-left: 28px !important;
    padding-right: 28px !important;
	}

	padding: 20px;
	overflow-x: hidden;
	form {
		background: #f8fafb;
		border: 1px solid #d7e1e6;
		border-radius: 30px;
		padding:52px 36px 42px 36px;
			@include breakpoint ( max-width 500px ) {
					padding:52px 20px;
			}
		p {margin-bottom: 4px; }
		h3 { margin-top: 0; margin-bottom: 24px;  }
		label {margin-bottom: 10px;   }
		input {margin-bottom: 26px; }
		.btn {margin-top: 30px; margin-bottom: 30px; }
		a.blue-underline {display: block; margin-bottom: 10px; }
		.no-padding-left {
			padding-right: 6px;
		}

		.no-padding-right {
			padding-left: 6px;
		}
		    
		

	}

}//end 
.signup-form-wraper_inner {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto; 
	.content {
		max-width: 90%;
		margin: 15% auto; 
		h2 {margin-bottom: 44px; }
		p {margin-bottom: 28px; color: #595959; }
		ul {
			padding-left: 24px;
			margin-bottom: 38px; 
			li {
				margin-bottom: 6px;
				position: relative;
				color: #000;

				.check {
					background: url('../img/check.png') no-repeat; 
					position: absolute; width: 21px; height: 22px;  top: -2px; left: -26px;  }
			}
		}
	}
}
.breadcrumb-wrap{

}
.breadcrumb {
	display: inline-block;
	padding: 8px 15px 8px 0px;
	margin-bottom: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 4px;
	li a {
		color: #372f65;
		transition: all 0.3s ease 0s;
		&:hover, &:focus {
			color: darken (#000db6, 10%);
		}
	}
	>.active {
	    color: #372f65;
	}
	>li+li:before {
    content: "/ ";
    padding: 0 5px;
	    color: #000;
	}
}

.content-page {
	padding: 10px 30px;
	margin-right: auto;
	margin-left: auto;
	min-height: 700px;
	
	header {
		h3 {margin-top: 0; color: #000; }
		a.backy {    margin-top: 7px; }
		a.blue-underline {font-size: 14px; }
	} 
}

.new-project-form-wrap {
	padding: 20px;
	max-width: 650px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px; 
	
	form {
		
		border: 1px solid #d7e1e6;
		border-radius: 10px;
		padding:42px 36px 32px 36px;
			@include breakpoint ( max-width 500px ) {
					padding:52px 20px;
			}
		p {margin-bottom: 4px; }
		h3 { margin-top: 0; margin-bottom: 24px;  }
		label {margin-bottom: 10px;   }
		input {margin-bottom: 26px; }
		.btn {margin-top: 30px; margin-bottom: 30px; padding: 12px 12px; }
		a.blue-underline {display: block; margin-bottom: 16px;     margin-top: 10px; }

		.hightlight-bg {
			margin-right: -36px;
			margin-left: -36px;
			background: #fff8c1;
			padding: 10px 36px;
			margin-bottom: 20px;
			@include breakpoint ( max-width 500px ) {
							margin-left: -20px;
							margin-right: -20px;
				}
		}

		.dropzon-label {
				font-weight: 400;
			    color: #59595a;
			    font-size: 16px;
			    margin-bottom: 10px; 
		}
	.ui.selection.dropdown {
		display: block;
	    width: 100%;
	    min-height: 38px;
	    padding: 3px 12px;
	    font-size: 14px;
	    line-height: 1.42857;
	    color: #555555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #dededf;
	    border-radius: 6px;
	    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	    &:focus {
		    border-color: #85b7d9;
		    outline: 0;
		    box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
		}
		
		}
		.ui.label { 
			font-weight: normal; 
		}
		.ui.dropdown .menu>.item { 
			font-size: 1.3rem;
		}

		.ui.multiple.dropdown .dropdown.icon {
		    margin: 0 -.71428571em 0 0;
		    padding: 0.7em .5em;
		}

		.ui.multiple.dropdown>.text {
		    
		    margin: 0.55241em 0 .45240952em .71428571em;
		    
		}


	}
}


//end ================================

.projects {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 40px; 
	margin-bottom: 50px; 
}
.project {
	//max-width: 420px;
	width:100%; 
	background: #fff;
	border: 1px solid #dae4e9;
	border-radius: 2px; 
	//float: left;
	//margin-right: 40px; 
	text-align: left;
	display: inline-block ; 
		@include breakpoint ($xs) {
				margin-right: auto;
				margin-left: auto;
				width: 100%;
				//max-width: 550px;
				float: none;

		}
			
	margin-bottom: 30px; 
	header {
		padding: 20px 20px 10px;
		min-height: 124px;
		img {margin-right: 5px;vertical-align: bottom; }
		h4 {font-weight: 700; font-size: 22px; color: #000; margin-bottom: 12px;  line-height: 1.4; }
		p {color: #8d99a5; font-size: 14px; }
	}
	.content	 {
		padding: 10px 20px 0 20px;
		    margin-top: 6px;
		  min-height: 45px; 
	
	}
	.status {
		padding:8px  10px;
		max-width: 90px; 
		font-size: 14px; 
		font-weight: bold; 
		text-align: center;  
	}

	

	footer {

		border-top: 1px solid #ddd;
		padding: 10px 20px;
		@include breakpoint ($sm) {
			text-align: center;
			}
	}
	.widget-panel {
		margin-right: 20px; 
		img {display: inline-block;  vertical-align: baseline;   margin-right: 11px; }
		div {display: inline-block; margin-right: 10px; }
		p {margin: 0; color: #000; font-size: 14px;    }
		span { color: #8d99a5; font-size: 13px; }
		&:last-child {margin-right: 0; float: right;}
		&:first-child {margin-right: 0; float: left;}
			@include breakpoint ($sm) {

				&:last-child {margin-right: 0; float: none; margin-bottom: 4px; }
				&:first-child {margin-right: 0; float: none;}
			}
	}
	.status--orang {background: #ff9600; color: #fff;  } // orange
	.status--yellow {background: #f6ff0a; color: #000;  } // yellow
	.status--draft {background: #848484; color: #fff; } // draft
	.status--active {background: #21ba45; color: #fff; } // orange
}//project


.busi_work_place{
	cursor: pointer;
	width: 100%; 
	background: #fff;
	border: 1px solid #dae4e9;
	border-radius: 2px;
	text-align: left;
	display: inline-block ;
	margin-bottom: 30px;
	header {
		height: 41px;
		padding: 14px 20px 14px;
		p {color: #4d4d4d; font-weight: bold; margin-bottom: 0;  }
		.inactive {color: #ff2e2e; }

		
	}
	.content	 {
		padding: 4px 20px 0 20px;
		    margin-top: 6px;
	
	}

	footer {

		padding: 16px 20px;
		img {margin-right: 5px;     margin-top: -3px; }
		h4 {font-weight: 400; font-size: 28px; color: #4d4d4d; margin-bottom: 6px;  }
		p {color: #8d99a5; font-size: 14px; }
		i {    margin-top: 6px; float: right;     font-size: 18px; }
		
		.active {
			color: #03e00d;

		}
		.inactive {
			color: #4d4d4d;
			
		}
	}
}


// modal
#invite_modal {
	h3 {color: #000; font-weight: bold; margin-bottom: 10px;  }

	.modal-content {
 	   padding: 14px 0 47px;     
      border-radius: 10px;
      outline: 0;
      border: 4px solid #a2a2a2; 
      -webkit-box-shadow:none;
              box-shadow:none;
    }
    

    .notify {
    	margin:10px auto 20px; 
    	background: #cfffbb;
    	padding: 16px 8px;
    	margin-left: -36px;
    	margin-right: -36px;
    	text-align: center; 
    	p {margin-bottom: 0; color: #018b22; }

    }
    .modal-header {
    	padding: 15px 36px; 
	}
	.modal-body {
    
    	padding: 15px 36px;
	}
	input {height: 40px; }
	.checkbox-inline {
		    min-width: 253px;
		input[type="checkbox"] {
			height: auto !important;
		}
	}
	.btn {margin-top: 20px; }
	.close {
		background: url('../img/x.png') no-repeat; 
		width: 19px;
		height: 19px;
		  color: transparent;
     text-shadow: 0 1px 0 #fff; 
     opacity: 1;
         margin-top: -15px;
         margin-right: -18px;

	}
}
 
.setup-your-business-wrap {

	margin-top: 40px;
	margin-bottom: 50px;
}


    
.setup-your-business-inner {
		@include breakpoint ($xs) {
			.no-padding-left {
				padding-left: 15px !important; 
			}

			.no-padding-right {
				padding-right: 15px !important; 
			}
		}
	 form {
			
			border: 1px solid #d7e1e6;
			border-radius: 10px;
			padding:42px 36px 32px 36px;
				@include breakpoint ( max-width 500px ) {
						padding:52px 20px;
				}
			p {margin-bottom: 4px; }
			h3 { margin-top: 0; margin-bottom: 24px;  }
			label {margin-bottom: 10px;   }
			input {margin-bottom: 26px; }
			.btn {margin-top: 30px; margin-bottom: 30px; padding: 12px 12px; }
			a.blue-underline {display: block; margin-bottom: 16px;     margin-top: 10px; }

			.hightlight-bg {
				margin-right: -36px;
				margin-left: -36px;
				background: #fff8c1;
				padding: 10px 36px;
				margin-bottom: 20px;
				@include breakpoint ( max-width 500px ) {
								margin-left: -20px;
								margin-right: -20px;
					}
			}

			
	}//form

	.content {
		background: #fcfcfc;
		position: relative;
		margin: 15% auto; 
		border: 1px solid #e4e4e4; 
		border-left:0;
			@include breakpoint ($xs) {
		 		border-left: 1px solid #e4e4e4; 
		 	} 
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		padding:30px 34px;
		p {color: #8b8b8b; }
		.package-plan {
			border: 1px solid #03a9ff; background: #f8fafb; 
			padding: 20px 30px; 
			margin-bottom: 36px;
			p, h4 {color: #000;}


		}

		img { position: absolute; bottom: 0; right: 20px;  }

		footer {
			max-width: 400px;
			p {margin-bottom: 0; }

		}
		.info {
			margin-bottom: 40px;
			h5 {margin-bottom: 0; color: #000; font-size: 14px;  }
		}

		.bold {font-weight: bold; }
		.black {color: #000; }

	}
		
}

 


 .contact-form {
 	margin: 5% auto;
 	padding: 20px; 
 	max-width: 400px;
 	border: 1px solid #ddd; 
 	position: absolute;
 	left: 0;
 	margin-left: 20px; 
 	top: 5%;
 	display: none; 


 }

 .form-show {
 	cursor: pointer;
 	padding: 10px;
 	p {margin-bottom: 0px; }
 	border: 1px solid #ddd; 
 	max-width: 200px; 
 	margin-top:  10%;
 	margin-left: 40px; 
 }

.logign-form-wraper.invite-team-member {
	overflow-x: visible;
}
.invite-team-member {
	position: relative;
	form {  }
	.mistake_notify {
		position: absolute;
		top: 50px;
		right: 0;
		margin-right: -304px;
		max-width: 320px;
		background: #f7f7f7;
		padding: 10px 20px;
		    text-align: center;
		    z-index: -1;

		a  {
			color: #0016eb;
			font-size: 16px;
			text-decoration: underline; 
			line-height: 1;
			transition: all 0.3s ease 0s;
			&:hover &:focus {
				color: darkne( #0016eb, 5% );
			}

			}

	}
	form {
		.btn {
    	margin-top: 0px;
    	margin-bottom: 0px;
	}
	}
}


.profile-avatar-wrap {
  width: 210px;
  height: 156px; 
  margin: auto;
  padding: 2px; 
  margin-bottom: 20px; 
  position: relative;
  pointer-events: none;
  border: 1px solid #dddddd;
  border-radius: 2px;
  input#uploader {margin-bottom: 10px; margin-top: 10px; margin-right: auto; margin-left: auto;  display: inline-block; }
}
.profile-avatar-wrap:after {
  /* Drag Prevention */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.profile-avatar-wrap img {
  width: 100%;
  display: block;

}
.location {
  text-transform: uppercase;
  color: #999;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
  font-size: 90%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.sidebar-page {
	margin-top: 55px; 
	margin-bottom: 200px;
	border: 1px solid #e4e4e4; 
	border-radius: 4px;
	min-height: 900px; 
}
#sidebar-wrapper {
	width: 25%;
	float: left;
}

#page-content-wrapper {
	width: 75%;
	float: left;
	padding: 42px 72px;
	header {
		margin-bottom: 30px;
		h4 {font-size: 16px; font-weight: bold; margin-bottom: 10px; color: #000; }

	}
	.invite-team {
		margin-bottom: 20px; 

		.checkbox-inline + .checkbox-inline {
		    margin-top: 0;
		    margin-left: 0;
		}
		.checkbox-inline {
		    min-width: 255px;

		    
		}
		.m-t-24 {
			margin-top: 24px;
			margin-bottom: 0; 
		}
		.btn {padding: 12px 14px; margin-right: 10px; margin-top: 14px;   }
	}
	.table-3 {
		  .table { 
		  			border-collapse:separate;
	    			border-spacing: 0px 10px;
	    		}
		  .table>tbody>tr>td {
		  			margin-bottom: 10px;    
		  			padding: 20px 12px;	  			
		  			vertical-align: middle;
		  			border-top: 0;	  			
		  			&:first-child {padding-left: 30px;  }
		  			&:last-child {  text-align: right;  padding-right: 30px;}
		  		}
		  .table>tbody>tr:nth-child(odd)>td { 
		  			border-top: 1px solid #ddd;
		  			border-bottom: 1px solid #ddd;
				&:first-child { border-left: 1px solid #ddd;  }
		  		&:last-child { border-right: 1px solid #ddd;  }
		  }
	  		
	  
		 h4 {color: #59595a; font-size: 16px; font-weight: bold; margin-bottom: 4px; }
		 span.email {color: #59595a; display: block; }
		 span.bubble {color: #59595a; background: #f1f1f1; padding:4px 8px; border-radius: 10px; margin-bottom: 6px; font-weight: bold; font-size: 12px;     display: inline-block;     margin-right: 4px;}
		 span.check {display: block; width: 25px; height: 25px; margin: 0 auto; margin-bottom: 8px; }
		 span.check.active { background: url('../img/check-green-sm.png') no-repeat; }
		 span.check.inactive {  background: url('../img/check-disable-sm.png') no-repeat; }
		 span.pending {  margin: 0 auto; text-align: center; display: block; margin: 0 auto;  text-align: center; }
		 span.pending.red {color: #e34242;}
		 span.del { background: url('../img/remove.png') no-repeat;display: inline-block; width: 22px; height: 22px; }
		 span.edit { background: url('../img/edit.png') no-repeat;display: inline-block; width: 23px; height: 23px;  margin-right: 5px; }
	}

	.btn {    padding: 13px 25px; margin-right: 10px; margin-top: 26px;   }
	
}

.passowrd-chagne {
	form{
		padding: 30px 30px;
		border: 1px solid #e9e9e9; 
		border-radius: 2px;
		background: #fcfcfc; 
		margin-bottom: 20px;
		input {width: 100%}
			@include breakpoint ($md) {
				input {width: 70%}	
			}
				@include breakpoint ($lg) {
					input {width: 60%}	
				}
	}
	p.red-note {
		color: #cb2626; 
		font-weight: bold;

	}
}


.update-profile {
	form{
		padding: 30px 30px;
		border: 1px solid #e9e9e9; 
		border-radius: 2px;
		background: #fcfcfc; 
		margin-bottom: 20px;
		
	textarea {  margin-bottom: 34px; }	
	}
	
	.btn-file {
		margin-top: 10px !important;
	}
}
.table-billing {
			  .table { 
			  			border-collapse:separate;
		    			border-spacing: 0px 10px;
		    		}
			  .table>tbody>tr>td {
			  			margin-bottom: 10px;    
			  			padding: 20px 12px;	  			
			  			vertical-align: middle;
			  			border-top: 0;	  	
			  			border-top: 1px solid #ddd;
			  			border-bottom: 1px solid #ddd;		
			  			&:first-child {padding-left: 30px;  }
			  			&:last-child {  text-align: right;  padding-right: 30px;}
			  			&:first-child { border-left: 1px solid #ddd;  }
			  			&:last-child { border-right: 1px solid #ddd;  }
			  		}
			  	
			  
				 h4 {color: #59595a; font-size: 16px; font-weight: bold; margin-bottom: 4px; }
				 p {font-size: 14px; margin-bottom: 0; color: #59595a; }
				 a {color: #59595a; }
				 a.pending { color: #e34242;  margin: 0 auto; text-align: center;  }
				 
				 span.view { background: url('../img/view.png') no-repeat;display: inline-block; width: 35px; height: 21px; }
				 
}

.subheading {
			 h5.bubble {color: #000; background: #f1f1f1; padding:6px 12px; border-radius: 10px; margin-bottom: 6px; font-weight: bold; font-size: 14px;     display: inline-block;     margin-right: 4px;min-width: 170px;}	
			 a  {font-size: 14px !important; line-height: 2.6; }
			 span.active {color: #08a100;}
}


// modal
#invite_modal_additional {
	h3 {color: #000; font-weight: bold; margin-bottom: 10px;  }

	.modal-content {
 	   padding: 14px 0 47px;     
      border-radius: 10px;
      outline: 0;
      border: 4px solid #a2a2a2; 
      -webkit-box-shadow:none;
              box-shadow:none;
    }
    
	form {
		p {margin-top: 35px; margin-bottom: 0; color: #59595a;  
		strong {margin-left: 10px; }
		}
	}
   
    .modal-header {
    	padding: 15px 36px; 
    	border-bottom: 0; 
	}
	.modal-body {
    
    	padding: 15px 36px;
	}
	input {height: 40px; }
	.checkbox-inline {
		    min-width: 253px;
		input[type="checkbox"] {
			height: auto !important;
		}
	}
	.btn {margin-top: 20px; }
	.close {
		background: url('../img/x.png') no-repeat; 
		width: 19px;
		height: 19px;
		  color: transparent;
     text-shadow: 0 1px 0 #fff; 
     opacity: 1;
         margin-top: -15px;
         margin-right: -18px;

	}
}

.content-page-pw {
	padding: 10px 30px;
	margin-right: auto;
	margin-left: auto;

	
	header {
		h3 {margin-top: 0; color: #000; }
		a.backy {    margin-top: 7px; }
		a.blue-underline {font-size: 14px; }
	} 
}

.p-w-space {
	
	margin-right: auto;
	margin-left: auto;
	padding: 20px 100px;
	min-height: 1600px;

}
.p-w-space__content {
	.sidebar {
		padding: 0 20px;	
	}

	.content {
		padding: 0 20px;
		h2 {font-weight: bold; font-size: 22px; margin-bottom: 20px }
		img {margin-left: 20px;}	
	}

}

.p-w-space__header {
	text-align: center;
	margin-bottom: 100px;

	p {max-width: 900px;margin-right: auto; margin-left: auto; color: #000; font-size: 18px; }
	h2 {
		margin-bottom: 20px;
		color: #000;
		font-size: 22px;
		font-weight: bold;

	}

}


.sidebar_sec {
	max-width: 400px;
	border: 1px solid #d7dee0;
	border-radius: 2px;
	padding: 20px 40px;
	text-align: center; 
	position: relative;
	margin-bottom: 50px; 
	div.icon {
		padding: 18px;
		width: 62px;
		height: 62px; 
		background: #fff; 
		border: 1px solid #d7dee0; 
		border-radius: 50%;
		position: absolute;
		left: 50%;
	   
	    margin-left: -31px;
		top: -31px;
		span{ width: 28px; height: 28px;display: inline-block;   }
		span.todo { background: url('../img/todo.png') no-repeat; }
		span.discussion { background: url('../img/discussion.png') no-repeat; }
		span.issu-tracker { background: url('../img/issu-tracker.png') no-repeat; }
		span.wiki { background: url('../img/wiki.png') no-repeat; }

	}
	
	h2 {margin: 24px 0 12px ; font-weight: bold; }

	
}

.workspace-dash {
	padding: 30px;
	min-height: 1200px;
	margin-bottom: 100px; 
}

.ws__discuss {
	  		margin-bottom: 50px; 
	  		.ws__discuss__inner {
	  			border: 1px solid #ddd; 
	  	   	 .open-new-dicuss {
	  	   	 	    display: inline-block;
				    vertical-align: inherit;
				    line-height: 3;
				    padding-right: 28px;
				    font-weight: bold; 
				    color: #0b03ab;
				    text-decoration: underline; 
	  	   	 }	
	  		}
	  	  h4.heading  {
	  	  		font-weight: bold; 
	  	  		padding: 4px 20px;  
	  	  		margin-top: 10px;
	  	  		color: #000;
	  	  		
	  	  	}
	  	
	  	  .table { margin-bottom: 0; }
	  	  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
	  	  .table td { text-align: left;    padding: 26px 30px  26px; vertical-align: baseline;}
	  	  .width-90 {width: 90% !important;}
	  	  

	  	  .media{margin-top: 0 ; }
	  	  .media-heading a { color: #000;   text-decoration: underline; font-size: 16px; font-weight: bold;  }
	  	  .media-body footer { margin-top: 8px; 
	  	  	i {font-size: 18px; margin-right: 6px; vertical-align: bottom; } 
	  	  	a {margin-right: 6px; }
	  	  }
	  	  .media-object{margin-top: -6px;}
	  	  .media-body {margin-bottom: 16px; font-size: 14px;  }

	  	  a.author {color: #ea8400; font-size: 14px; }
	  	  a.timestamp {color: #b0b0b0; font-size: 14px; }
	  	  
	  	  .ws__discuss__footer { border: 1px solid #ddd; border-top: 0 ; padding: 18px 20px 16px; text-align: center;
					 margin-bottom: 20px;
					 a.more {color: #0028d5; font-size: 14px; text-decoration: underline; text-decoration-color: #b0b6ed; font-weight: bold}
	  	    }

	  		
	  	}//person-summery__notes-discuss



.ws__tasks {
	  		margin-bottom: 50px;
	  		.header {
	  			padding: 14px 8px 14px 0;
	  			border-bottom: 1px solid #ddd;
	  			color: #000;
	  			span {margin-right: 10px; font-weight: bold; }
	  			span a { color: #328600; text-decoration: none;  &:hover { color: #328600; }  font-weight: bold;}
	  		}
	  		.ws__tasks__inner {
	  			border: 1px solid #ddd; 
	  	   	 
	  		}
	  	  
	  	  h4 {font-weight: bold; padding: 4px 20px; display: inline;  }
	  	  .table { margin-bottom: 0; }
	  	  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
	  	  .table tr {
	  	  		&:first-child td { border-bottom: 0;  		}
	  	  		&:last-child td { border-bottom: 0;  		}
	  	  }
	  	  .table td {

	  	  			width: 10%; text-align: left; padding: 8px 20px; vertical-align: baseline; 
	  	  			position: relative; 
	  	  			border-top: 0;
	  	  			border-bottom: 1px solid #ddd;
	  	  			

	  	  		}

	  	  .pd-t-60 {padding-top: 60px !important;}
	  	  .width-90 {width: 90% !important;}
	  	  .table td .checkbox {
	  	  	    display: inline-block; 
	  	  	    margin-top: 1px;
			    margin-bottom: 0px;
			    vertical-align: middle;
	  	  }
	  	  
	  	  .todo {margin-left: 12px; }
	  	  a.notes {display: inline-block; font-size: 16px; color: #000; text-decoration: underline; }
	  	  
	  	 
	  	  a.more { text-decoration: underline; color: #000; font-size: .8em; font-weight: bold;   }
	  	  a:hover.more { text-decoration: underline; color: #000; }

	  	  .tc__notify--today {
	  	  	h5 { background: #ffa525;
	  	  	    color:#000; 
	  	  	    font-size: 16px;
	  	  	    margin: 0; 
	  	  	    padding: 4px 1px;
	  	  	}
	  	      
	  	  }

	  	  .tc__notify--tommorrow {
	  	  	h5 {  background: #ffdba8;
	  	  	    color:#000; 
	  	  	    font-size: 16px;
	  	  	    margin: 0; 
	  	  	    padding: 4px 1px;
	  	  	}
	  	     
	  	  }
	  	  .tc__notify {
	  	     display: inline-block;
	  	         padding: 2px 10px;
	  	         min-width: 120px;
	  	         font-weight: normal;
	  	         text-align: center;
	  	         vertical-align: -webkit-baseline-middle;
	  	         position: absolute;
	  	         left: -11px;
	  	         top: 20px;
	  	         margin-bottom: 20px;;  
	  	  }

	  	  .open {
		    	color: #328600;
			}

			.closed {
		    	color: #8a8a8a;
			}

	  	   .ws__discuss__footer { border: 1px solid #ddd; border-top: 0 ; padding: 18px 20px 16px; text-align: center;
					 margin-bottom: 20px;
					 a.more {color: #0028d5; font-size: 14px; text-decoration: underline; text-decoration-color: #b0b6ed;font-weight: bold }
	  	    }
}//tasks

.ws__tickets {
	margin-bottom: 100px;
	.header {
		padding: 0;
		color: #000;
		margin-bottom: 14px;
		span {margin-right: 10px; font-weight: bold;}
		span a { color: #328600; text-decoration: none;  &:hover { color: #328600; } font-weight: bold;}

		.left { border-right: 1px solid #ddd; padding: 14px 0;}
		.bottom { padding: 8px 0; padding-left: 20px; border-top: 1px solid #ddd; background: #fbfbfb;}
		.right {padding: 6px 0 0 50px;
					position: relative;
			i { position: absolute; left: 26px; top: 16px; font-size: 18px; color: #808080; }
		}
		a.new-issue {font-size: 14px; }
		.form-control {margin-bottom: 0; padding: 0;  }

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #808080;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #808080;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #808080;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #808080;
		}
		:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color:    #808080;
		}

	}
	.ws__tickets__inner {
		border: 1px solid #ddd;
		    padding-bottom: 14px; 
   	 
	}
  
  h4 {font-weight: bold; padding: 8px 20px; display: inline;  }
  .table { margin-bottom: 0; }
  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
  .table td {width: 10%; text-align: left; padding: 8px 20px; vertical-align: baseline;     border-top: 0;}
  .table td:first-child { width: 10%; }
  .width-10 {width: 10% !important;}
  .width-6 {width: 6% !important;}
  .width-80 {width: 80% !important; }
  
  a {font-size: 12px; font-weight: bold; text-decoration: underline; color: #0000cd;}
  
  p.notes {display: inline; font-size: 12px; color: #666666; }
  
 
  a.more { text-decoration: underline; color: #000; font-size: .8em; font-weight: bold;   }
  a:hover.more { text-decoration: underline; color: #000; }
  p.excerpt { /* display: inline; */ color: #000; margin-bottom: 4px;   }
  span.comment-count a {color: #a3a3a3; font-size: .9em; font-weight: normal;  text-decoration: none; }
  span.auther a {  font-size: .9em; color: #a3a3a3; margin-right: 10px; text-decoration: none;  font-weight: normal;  }
  span.critical a {color: #ce0404; &:hover { color: #ce0404; } font-size: 14px; }
  span.urgent a {color: #ff8c04; &:hover { color:#ff8c04; } font-size: 14px; }
  span.open a {color: #328600;  &:hover { color: #328600; } font-size: 14px;  }
  span.closed  a {color: #8a8a8a; &:hover { color: #8a8a8a; }  font-size: 14px;  }

  .form-control {
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: 0;
    text-align: left;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    padding: 8px 12px;
}
.form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}

  		.tc__notify {
		  	display: inline-block; 
		  	padding: 1px 10px; 
		  	min-width: 100px;
		  	color: #fff;
		  	font-weight: normal;
		  	text-align: right;
		  	vertical-align: -webkit-baseline-middle;


		  	
  		}
	  	.tc__notify--urgent {
	  		
	  		h5 {
	  			background: #ff8c04;
	  			margin: 0;
	  			font-size: 12px;
	  			padding:4px 8px;;
	  				min-width: 100px;
	  				color: #fff;
	  		}
	  	}
	  	.tc__notify--criticle {
	  		
	  		h5 {
	  			background: #ce0404;
	  			margin: 0;
	  			font-size: 12px;
	  			padding:4px 8px;;
	  				min-width: 100px;
	  				color: #fff;
	  		}
	  	
	  	}
	  	.tc__notify--open {
	  		
	  		h5 {
	  			background: #328600;
	  			margin: 0;
	  			font-size: 12px;
	  			padding:4px 8px;;
	  				min-width: 100px;
	  				color: #fff;
	  		}
	  	}

	  	.tc__notify--closed {
	  		
	  		h5 {
	  			background: #a5a5a5;
	  			margin: 0;
	  			font-size: 12px;
	  			padding:4px 8px;;
	  				min-width: 100px;
	  				color: #fff;
	  		}
	  	}

	  	  	   .ws__discuss__footer { border: 1px solid #ddd; border-top: 0 ; padding: 18px 20px 16px; text-align: center;
					 margin-bottom: 20px;
					 a.more {color: #0028d5; font-size: 14px; text-decoration: underline; text-decoration-color: #b0b6ed; font-weight: bold}
	  	    }	

}// end ticket


.post-author {
	.my-icon {
	    position: relative;
	}
	.my-icon > i {
	           position: absolute;
	    display: inline-block;
	    width: 26px;
	    height: 9px;
	    line-height: 0;
	    border: 9.5px solid #c70000;
	    border-right: 7.5px solid transparent;
	    left: -30px;
	    top: 15px;
	}

}



.topic-discuss {
	padding: 30px;
	min-height: 1200px;
	margin-bottom: 100px; 
	.round-box {
		border: 1px solid #edf0f1;  
		border-radius: 10px;
		
	}
	header {

		margin-bottom: 20px;
				padding: 20px;	
			
			.textbox{
				display: inline-block;
				float: left; 
				a.backy {
					background: url('../img/backy.png') no-repeat 100%; 
					background-position: center; 
					display: inline-block; 
					width: 50px; 
					height: 50px; 
					color: #7f7f7f;
					text-align: center;
					line-height: 0.7;
					text-decoration: none;
					&:hover, &:focus {
						color: #000; 
					}
				}
				
    			
			}
			.ribbon {
    				border-left: 1px solid #ddd; 
					width: 10px;
	    			height: 52px;
	    			display: inline-block;
	    			position: relative; 
    			}

			.ribbon {
				float: left; 
				.my-icon {
				    position: relative;

				}
				.my-icon > i {
				           position: absolute;
				    display: inline-block;
				    width: 26px;
				    height: 9px;
				    line-height: 0;
				    border: 9.5px solid #c70000;
				    border-right: 7.5px solid transparent;
				    left: 0;
				    top: 0;
				}

			}

			h4 {
					display: inline-block;
			 		vertical-align: top;
				    padding-left: 30px;
				    font-weight: bold;
				    margin: 0; 
				    float: left;
				    max-width: 90%;
				    	@include breakpoint ($xs) {
				    		max-width: 81%;
				    	}

				 }
				

		}
	

	.editing-area {
		max-width: 800px; 
		padding-bottom: 50px; 
		
		.media-left, .media > .pull-left {
		    padding-right: 22px;
		}
		.media-body {
			@extend .round-box;
			border: 2px solid #edf0f1;
			.content {
				padding:0 20px;
				textarea{resize: none}

				.form-control {
					box-shadow: none;
				    background-color: transparent;
				    border-radius: 0;
				    background: transparent;
				    box-shadow: none;
				    border:0;
				    text-align: left;
				    width: 100%;
				    display: inline-block;
				    vertical-align: bottom;
				    padding: 16px 12px;

				    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color:    #aab4b5;
				    font-style: italic;
					}
					&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					   color:    #aab4b5;
					   opacity:  1;
					   font-style: italic;
					}
					&::-moz-placeholder { /* Mozilla Firefox 19+ */
					   color:    #aab4b5;
					   opacity:  1;
					   font-style: italic;
					}
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color:    #aab4b5;
					   font-style: italic;
					}
					&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
					  color:    #aab4b5;
					  font-style: italic;
					}
				}
				.form-control:focus {
				    border-color: #ccc;
				    box-shadow: none;
				}


			}
			footer {
				background: #f3f5f6;
				padding:8px 20px;
				position: relative;
				i {    font-size: 18px;}
				.btn-send {
					position: absolute;
					top: 0;
					right:0; 
					padding: 6px 31px;
					border-radius: 0; 
				}
				.fake-uploader {
					margin-right: 12px; 
				}
				#editor-file {
					position: absolute; 
					top: 9999px;
					left:  9999px; 
				}
			}
		}

	}// end edit

	 .content-post {

	 	.media {
	 		margin-bottom: 50px; 
	 		h4.media-heading {color: #585858; font-size: 16px; font-style: italic; font-weight: bold; }
	 		p {color: #000; }
	 	}
	 	.media-left, .media > .pull-left {
		    padding-right: 22px;
		}
	 	.media-body {
	 		@extend .round-box;
	 		padding:20px 30px;	
	 	}
	 	footer {
	 		margin-top: 12px;
	 		span.time { display: inline-block; color: #ababab; margin-right: 10px; }
	 		i {color: #f58500;  }
	 		span.humantime {display: inline-block; color: #333333; font-weight: bold;  }
	 	}

	 	.atttachments {
	 		margin-top: 12px; 
	 		p {color: #ababab; }
	 		a {display: block; color: #0011ed; text-decoration: underline; font-weight: bold;   }
	 	}

		


	}
	span.bubble{
	 		border: 1px solid #edf0f1;
	 		display: inline-block;
	 		border-radius: 16px;
	 		padding: 4px 14px; 
	 		font-weight: bold; 
	 		margin-bottom: 30px;
    		margin-top: 2px;
    		text-align: center;
    		min-width: 100px;
    		

	 	}
}


