/*
 * ----------------------------------------------------------------------------------------
 * Nav styles.
 * ----------------------------------------------------------------------------------------
 */


.navbar {
	    border-radius: 0;
	    border-bottom: 1px solid #e1ebef  ;
	    margin-bottom: 6px;
}
.navbar-default {
		background-color: #f8fafb;
		border-color: #e1ebef;
		.navbar-nav li { 
			a { 
				padding-top: 26px;
				padding-bottom: 22px;
				background: transparent; color: #848484;  border-right: 0px solid #848484;  font-size: 14px;
				transition: all 0.3s ease 0s;
				font-weight: bold;
				&:hover, &:active { background: transparent;     color: #000; }
			}

				&.active a, &.active:hover a, &.active:focus a { background: transparent; color: #000;  }
			
			a.btn { padding: 4px 10px; font-size: 14px;   margin-top: 20px;     margin-right: 14px;}
			a.btn-success {
			  color: #fff;
			  background-color: #03e00d;
			  border-color: #03e00d;

			}

			a.btn-success:focus, a.btn-success.focus {
			  color: #fff;
			  background-color: darken(#03e00d, 5%);
			  border-color: #03e00d;
			  border: 1px solid; 
			}

			a.btn-success:hover {
			  color: #fff;
			  background-color: darken(#03e00d, 5%);
			  border-color: #03e00d;
			  padding: 4px 10px;
			      font-size: 14px;
			      margin-top: 20px;
			}
		}
		.navbar-collapse {
		     padding-right: 15px;
		    padding-left: 15px
		}
		.container-fluid {
		       padding-right: 15px;
    		padding-left: 15px
		}
		.dropdown-menu { 
			background: #fff;
			    margin-top: 5px;
			 li a {padding-bottom: 4px; }
		}
		.navbar-nav>.open>a, 
		.navbar-nav>.open>a:hover, 
		.navbar-nav>.open>a:focus {
		    color: #000;
		    background-color: #f8fafb;
		}
		.navbar-nav>.open>a:hover, 
		.navbar-nav>.open>a:focus {
				border: 0; 
		}	

	.setting {
		background: url(../img/setting.png) no-repeat;
		display: inline-block;
		width: 25px;
		height: 24px;
	}

	.logout {
		background: url(../img/logout.png) no-repeat;
		display: inline-block;
		width: 25px;
		height: 24px;
	}

	.nav-check {
		background: url(../img/nav-check.png) no-repeat;
		display: inline-block;
		width: 25px;
		height: 24px;
	}
	
	i.setting, i.logout {
		    margin-top: -4px;
	}

}// end 

.navbar-default .navbar-nav .dropdown-menu li a {
    padding-top: 10px; 
}


.navbar-nav > li > .dropdown-menu {
    margin-top: 5px; 
}


.navbar-nav {
	h4 {
		   padding-top: 28px;
    	padding-bottom: 20px;
    		@include breakpoint ($xs) {
    			padding-left: 15px;	
    		}

	}
}
.top-right-nav {
	li:first-child a { font-weight: normal; font-size: 13px; }
}


#sidebar-wrapper {
	border-right: 1px solid #dbdbdb;
	background: #fcfcfc;
	min-height: 900px;
	ul.sidebar-nav {
		list-style: none; 
		li {
			    padding: 12px 30px 12px 40px;
			border-top: 1px solid #dbdbdb;
			&:last-child{border-bottom: 1px solid #dbdbdb;}
			a {
				color: #323232; 
				padding: 10px; 
				
				margin-right: 40px;
				font-size: 18px;
			&:hover, &:focus {
				color: #000; 
				text-decoration: none; 
			}


			}
		}
	}
	header {
		padding: 30px 34px;
		h5 {margin: 0 0 4px; font-weight: bold; font-size: 16px; }
		p {margin-bottom: 20px; font-size: 16px }
		
		span.bullet {display: block; color: #000; margin-bottom: 4px; font-size: 16px;  }
	}

}



    .dropdown-menu.right:before {
        position: absolute;
        top: -13px;
        left: 72%;
        display: inline-block;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #ccc;
        border-left: 12px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content:'';
    }
	.dropdown-menu.right { 
		margin-top: 0 !important;
    	right: -16%;
	}
    



	.dropdown-menu.left:before {
        position: absolute;
        top: -13px;
        left: 9%;
        display: inline-block;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #ccc;
        border-left: 12px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content:'';
    }
	.dropdown-menu.left { 
		margin-top: 20px !important;
    	left: 9% !important;
	}
    


  
.work-space-nav {
margin-top: 12px;
	.navbar {
		    border-radius: 0;
		    border-bottom: 1px solid #e1ebef  ;
		    margin-bottom: 50px;
	}
	.navbar-default {
			background-color: #f9fafa;
			border-color: #d4dcde;
			.navbar-nav li { 
						
						&:first-child a { 
							border-left: 1px solid #d4dcde; 
						}
						&.active a, &.active:hover a, &.active:focus a { 
							background: transparent; color: #000;  
						}
				
						a { 
							padding: 16px 28px 14px; 
							font-size: 14px;
							background: transparent; color: #000000; 
							border-right: 1px solid #d4dcde; 
							line-height: 2;
							transition: all 0.3s ease 0s;
							font-weight: bold;
							&:hover, &:active { 
								background: transparent; 
								color: #000; 
							}
					}
	
				
			}
			.navbar-nav.navbar-right li a {  
				padding-right: 70px;
				color: #d4dcde;
				&:hover, &:active { 
								
								color: #000; 
					}
				}
			
			.navbar-collapse {
			     padding-right: 0;
			    padding-left: 20px
			}
			.container-fluid {
			       padding-right: 15px;
	    		padding-left: 15px
			}
			.dropdown-menu { 
				background: #fff;
				margin-top: 0; 
				 li a { color: #000; padding-bottom: 4px; border-left: 0 !important; border-right: 0 !important;  }
				 li { 
						
						&:first-child a { 
							border-left: 0 !important;  }
				}
			}
			.navbar-nav>.open>a, 
			.navbar-nav>.open>a:hover, 
			.navbar-nav>.open>a:focus {
			    color: #000;
			    background-color: #f8fafb;
			}
			.navbar-nav>.open>a:hover, 
			.navbar-nav>.open>a:focus {
					border-right: 1px solid #d4dcde; 
			}	
			
		.workspace {
			background: url(../img/nav/workspace.png) no-repeat;
			display: inline-block;
			width: 32px;
			height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}


		.issue-tracker {
			background: url(../img/nav/issue-tracker.png) no-repeat;
			display: inline-block;
			width: 32px;
			height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}




		.todo-png {
			background: url(../img/nav/todo-png.png) no-repeat;
			display: inline-block;
			width: 32px;
			height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}


		.wiki {
			background: url(../img/nav/wiki.png) no-repeat;
			display: inline-block;
			width: 32px;
			height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}


		.discussion {
			background: url(../img/nav/discussion.png) no-repeat;
			display: inline-block;
			width: 32px;
			height: 28px;
			vertical-align: bottom;
			margin-right: 10px;
		}

		
		i.setting, i.logout {
			    margin-top: -4px;
		}

	}// end 

}



.work-space-nav .navbar-default  .navbar-nav .dropdown-menu li {
border-left: 0; 
border-right: 0; 
		&:first-child a {
	    	border-left: 0; 
		}

		&:last-child a {
	    	border-right: 0; 
		}

}
.work-space-nav .navbar-default .navbar-nav.navbar-right .dropdown-menu li a {
    padding: 8px 28px 8px;
    color: #000;
}


