/*
 * ----------------------------------------------------------------------------------------
 * Helpers.
 * ----------------------------------------------------------------------------------------
 */


.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }



.m-b-20 {
	margin-bottom: 20px !important;
}
.m-b-10 {
	margin-bottom: 10px !important;
}

.m-b-30 {
	margin-bottom: 30px;
}
z
.m-b-40 {
	margin-bottom: 40px;
}
.m-b-50 {
	margin-bottom: 50px  !important;
}

.m-b-90 {
	margin-bottom: 90px  !important;
}


.m-t-0 {
	margin-top: 0px  !important;
}

.m-t-10 {
	margin-top: 10px  !important;
}

.m-t-20 {
	margin-top: 20px  !important;
}
.m-t-30 {
	margin-top: 30px  !important;
}

.m-t-40 {
	margin-top: 30px  !important;
}

.m-t-50 {
	margin-top: 50px  !important;
}



.seprater-bottom-30 {
	content: "";
	height: 1px;
	display: block;
	margin-bottom: 30px;
}

.seprater-bottom-50 {
	content: "";
	height: 1px;
	display: block;
	margin-bottom: 50px;
}


.border1 {	border: 1px solid #000; }

.border2 { border: 2px solid #000; }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
   padding: 0 !important;
}

.no-padding-right {
   padding-right: 0 !important;
}
.no-padding-left {
   padding-left: 0 !important;
}

.devider-90 {
	content: "";
	width: 90%;
	height: 1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #ddd;
}
.devider-100 {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #ddd;
}

.underline {
	text-decoration: underline;
}


.bold {
	font-weight: bold;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.border-none {
	border: none !important;
}

.inline-element {
	display: inline !important;
}


@mixin border($br:1px, $bcolor: #ddd ) {
 	border: $br solid $bcolor;  
}


@mixin inline-block($w:50px, $h: 50px ) {
 	display: inline-block;
 	width: $w;
 	height: $h;



}
